.title-container {
	margin-bottom: 30px;
	text-align: center;
}

.title {
	font-size: 44px;
    margin-bottom: -25px;
}

.subtitle {
    font-size: 13px;
    color: grey;
}


.puzzle {
    position: fixed;
    height: 600px;
    width: 100%;
    left: 35%;
    top: 40px;
}

svg {
	width: 100%;
	/*This goes here because SVG uses em as units*/
	font: normal 9pt sans-serif;
	height: 600px;
}

svg g line {
	stroke: black;
	stroke-width: 2px;
}

.state-circle svg g circle {
	fill: black;
}

svg g text {
	fill: white;
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 40px;
}

.guess {
	border: solid black;
	width: 100%;
	height: 80px;
	overflow: scroll;

}

.control-panel {
	float: left;
	width: 370px;
}

.control-panel p {
	font-size: 15px;
}

.buttons {
	text-align: center;
    position: relative;
    top: 10px;
}

button {
	font-size: 20px;
}

.correct-guesses {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 300px;
	text-align: center;
	overflow-y: scroll; 
	position: relative;
	top: 25px;
}

.correct-guesses div {
	width: 120px;
}

.answers {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 300px;
	text-align: center;
	overflow-y: scroll; 
	position: relative;
	top: 25px;
}

.answers div {
	width: 120px;
}

.correct {
	color: lightgreen;
}

.incorrect {
	color: red;
}

