.puzzle-container {
    position: fixed;
    top: 35px;
}

svg {
	width: 100%;
	/*This goes here because SVG uses em as units*/
	font: normal 9pt sans-serif;
	height: 600px;
	position: absolute;
    left: 35%;
}

svg g line {
	stroke: black;
	stroke-width: 2px;
}

.state-circle svg g circle {
	fill: black;
}

svg g text {
	fill: white;
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 40px;
}
