.title-container {
	margin-bottom: 30px;
	text-align: center;
}

.title {
	font-size: 44px;
    margin-bottom: -25px;
}

.subtitle {
    font-size: 13px;
    color: grey;
}


.puzzle {
    position: fixed;
    height: 600px;
    width: 1200px;
    margin-left: 425px;
    top: 40px;
}

svg {
	width: 100%;
	/*This goes here because SVG uses em as units*/
	font: normal 9pt sans-serif;
	height: 600px;
}

svg g line {
	stroke: black;
	stroke-width: 2px;
}

.state-circle svg g circle {
	fill: black;
}

svg g text {
	fill: white;
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 40px;
}

.guess {
	border: solid black;
	border-radius: 5px;
	width: 100%;
	height: 80px;
	overflow: scroll;
}

.control-panel {
	float: left;
	width: 370px;
}

.control-panel p {
	font-size: 15px;
	position: relative;
    bottom: 10px;
}

.buttons-top {
	display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 10px;
}

#new-btn {
	background-color: blue;
    color: white;
}

#end-btn {
	background-color: red;
    color: white;
}

.buttons-bottom {
	text-align: center;
    position: relative;
    top: 10px;
}

.buttons-bottom button {
	width: 49%;
}

#clear-btn {
	background-color: blue;
    color: white;
}

#submit-btn {
	background-color: green;
    color: white;
}

button {
	font-size: 20px;
    border: none;
    border-radius: 5px;
}

#message {
	position: relative;
	bottom: 0px;
    top: 15px;
    text-align: center;
    font-size: 20px;
    color: red;
}

.correct-guesses {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 300px;
	text-align: center;
	position: relative;
	top: 25px;
}

.correct-guesses div {
	width: 120px;
}

.answers {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	height: 300px;
	text-align: center;
	position: relative;
	top: 25px;
}

.answers div {
	width: 120px;
}

.correct {
	color: lightgreen;
}

.incorrect {
	color: red;
}

@media screen and (max-width : 830px), screen and (max-device-width : 1000px) {

}

