<!-- <div ng-repeat="state in states" class="state-circle">
	<div class="letter">{{ state.value }}</div>
</div>

 -->
<div class="puzzle-container">
	<div class="state-circle state-q0" ng-click="nextStates(states['q0'])">
		<div class="letter">
			{{ states["q0"].value }}
		</div>
	</div>
	<div class="state-circle state-q1">
		<div class="letter">
			{{ states["q1"].value }}
		</div>
	</div>
	<div class="state-circle state-q2">
		<div class="letter">
			{{ states["q2"].value }}
		</div>
	</div>
	<div class="state-circle state-q3">
		<div class="letter">
			{{ states["q3"].value }}
		</div>
	</div>
	<div class="state-circle state-q4">
		<div class="letter">
			{{ states["q4"].value }}
		</div>
	</div>
	<div class="state-circle state-q5">
		<div class="letter">
			{{ states["q5"].value }}
		</div>
	</div>
	<div class="state-circle state-q6">
		<div class="letter">
			{{ states["q6"].value }}
		</div>
	</div>
	<div class="state-circle state-q7">
		<div class="letter">
			{{ states["q7"].value }}
		</div>
	</div>
	<div class="state-circle state-q8">
		<div class="letter">
			{{ states["q8"].value }}
		</div>
	</div>
	<div class="state-circle state-q9">
		<div class="letter">
			{{ states["q9"].value }}
		</div>
	</div>
	<div class="state-circle state-q10">
		<div class="letter">
			{{ states["q10"].value }}
		</div>
	</div>
	<div class="state-circle state-q11">
		<div class="letter">
			{{ states["q11"].value }}
		</div>
	</div>
	<div class="state-circle state-q12">
		<div class="letter">
			{{ states["q12"].value }}
		</div>
	</div>
</div>