<!-- <div ng-repeat="state in states" class="state-circle">
	<div class="letter">{{ state.value }}</div>
</div>

 -->
<h1> {{ guess }} </h1>
<button ng-click="clear()">clear</button>
<div class="puzzle-container">
	<div class="state-circle state-q0" ng-click="select(states['q0'])">
		<div class="letter">
			{{ states["q0"].value }}
		</div>
	</div>
	<div class="state-circle state-q1" ng-click="select(states['q1'])">
		<div class="letter">
			{{ states["q1"].value }}
		</div>
	</div>
	<div class="state-circle state-q2" ng-click="select(states['q2'])">
		<div class="letter">
			{{ states["q2"].value }}
		</div>
	</div>
	<div class="state-circle state-q3" ng-click="select(states['q3'])">
		<div class="letter">
			{{ states["q3"].value }}
		</div>
	</div>
	<div class="state-circle state-q4" ng-click="select(states['q4'])">
		<div class="letter">
			{{ states["q4"].value }}
		</div>
	</div>
	<div class="state-circle state-q5" ng-click="select(states['q5'])">
		<div class="letter">
			{{ states["q5"].value }}
		</div>
	</div>
	<div class="state-circle state-q6" ng-click="select(states['q6'])">
		<div class="letter">
			{{ states["q6"].value }}
		</div>
	</div>
	<div class="state-circle state-q7" ng-click="select(states['q7'])">
		<div class="letter">
			{{ states["q7"].value }}
		</div>
	</div>
	<div class="state-circle state-q8" ng-click="select(states['q8'])">
		<div class="letter">
			{{ states["q8"].value }}
		</div>
	</div>
	<div class="state-circle state-q9" ng-click="select(states['q9'])">
		<div class="letter">
			{{ states["q9"].value }}
		</div>
	</div>
	<div class="state-circle state-q10" ng-click="select(states['q10'])">
		<div class="letter">
			{{ states["q10"].value }}
		</div>
	</div>
	<div class="state-circle state-q11" ng-click="select(states['q11'])">
		<div class="letter">
			{{ states["q11"].value }}
		</div>
	</div>
	<div class="state-circle state-q12" ng-click="select(states['q12'])">
		<div class="letter">
			{{ states["q12"].value }}
		</div>
	</div>
</div>