<!-- <div ng-repeat="state in states" class="state-circle">
	<div class="letter">{{ state.value }}</div>
</div>

 -->
<div class="puzzle-container">
	<div class="state-circle state-0">
		<div class="letter">
			{{ states["q0"].value }}
		</div>
	</div>
	<div class="state-circle state-1">
		<div class="letter">
			{{ states["q1"].value }}
		</div>
	</div>
	<div class="state-circle state-2">
		<div class="letter">
			{{ states["q2"].value }}
		</div>
	</div>
	<div class="state-circle state-3">
		<div class="letter">
			{{ states["q3"].value }}
		</div>
	</div>
	<div class="state-circle state-4">
		<div class="letter">
			{{ states["q4"].value }}
		</div>
	</div>
	<div class="state-circle state-5">
		<div class="letter">
			{{ states["q5"].value }}
		</div>
	</div>
	<div class="state-circle state-6">
		<div class="letter">
			{{ states["q6"].value }}
		</div>
	</div>
	<div class="state-circle state-7">
		<div class="letter">
			{{ states["q7"].value }}
		</div>
	</div>
	<div class="state-circle state-8">
		<div class="letter">
			{{ states["q8"].value }}
		</div>
	</div>
	<div class="state-circle state-9">
		<div class="letter">
			{{ states["q9"].value }}
		</div>
	</div>
	<div class="state-circle state-10">
		<div class="letter">
			{{ states["q10"].value }}
		</div>
	</div>
	<div class="state-circle state-11">
		<div class="letter">
			{{ states["q11"].value }}
		</div>
	</div>
	<div class="state-circle state-12">
		<div class="letter">
			{{ states["q12"].value }}
		</div>
	</div>
</div>