<nav ng-if="showNav()" class="navbar navbar-default">
	<div ng-style="whichPage()==='signup' ? { 'display': 'flex',
    'justify-content': 'center' } : { 'display': 'inherit' }" class="container">
		<div class="navbar-header">
			<div ng-if="whichPage()==='signup'" class="home-btn" ui-sref="home">
				Times Games
			</div>
			<button ng-if="whichPage()==='home' && isLoggedIn()" class="back-btn" ng-click="myPuzzles()">
				My Puzzles
			</button>
			<div class="title-wrap">
				<div class="nav-title" ng-if="whichPage()==='pick-six'">
					Six For A Spell
				</div>
				<div class="nav-subtitle" ng-if="whichPage()==='pick-six'">
					Based on game by Will Shortz of the NYT
				</div>
				<div class="nav-title" ng-if="whichPage()==='spelling-bee'">
					Spelling Bee
				</div>
				<div class="nav-subtitle" ng-if="whichPage()==='spelling-bee'">
					Based on game by Frank Longo of the NYT
				</div>
			</div>
			<button class="signup-btn" ui-sref="signup" ng-if="whichPage() === 'home' && !isLoggedIn()">
				Sign Up
			</button>
			<button class="login-btn" ng-if="whichPage() === 'home' && !isLoggedIn()" ng-click="openLogin()">
				Log In
			</button>
			<button ng-if="whichPage()!=='home'" class="rules-btn" ng-click="open()">
				Rules
			</button>
			<button ng-if="isLoggedIn()" class="back-btn" ng-click="logOut()">
				Log Out
			</button>
		</div>
	</div>
</nav>

<modal visible="showModal" close="cancel()">
	<modal-header ng-if="whichPage()==='pick-six'" title="Six For A Spell Rules"></modal-header>
	<modal-body ng-if="whichPage()==='pick-six'">
		How many common words of 6 or more letters can you find? Words must be spelled sequentially by following the lines connecting circles.  You may use a letter once -- but not twice in a row.  Click on letter to select letter.
	</modal-body>
	<modal-header ng-if="whichPage()==='spelling-bee'" title="Spelling Bee Rules"></modal-header>
	<modal-body ng-if="whichPage()==='spelling-bee'">
		How many common words of 5 or more letters can spell using the letters in the hive? Every answer must use the center letter at least once.  Letters may be reused in a word.  At least one word will use all 7 letters.  Proper names and hypenated words are not allowed.  Click on letter to select letter. 
	</modal-body>
</modal>


<modal class="login-modal" visible="showLoginModal" close="loginCancel()">
	<modal-header title="Log in to The Times Games"></modal-header>
	<modal-body>
		<div class="buffer local">
			<form ng-submit="submitLogin()">
				<div class="form-group">
					<input ng-model="userData.email" type="text" class="form-control" placeholder="Enter email" required />
				</div>
				<div class="form-group">
					<input ng-model="userData.password" type="password" class="form-control" placeholder="Enter password" required />
				</div>
				<button type="submit" class="btn btn-block">login</button>
			</form>
		</div>
	</modal-body>
	<modal-footer>
		Don't have an account? 
		<a ng-click="signupPage()" class="modal-signup-btn">Sign up »</a>
	</modal-footer>
</modal>